body{
    background-color:rbg(128, 0, 32, 0.4);
}
/*Hero Page styling*/
.header{
    margin-left: 200px;
    margin-bottom: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: black solid 1px;
    padding: 40px;
}
.sunset{
    margin-top: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.textafterimg{
    float: right;
    color: #800020	;
}
/*About Me Page styling*/
.AboutPhoto, img{
    width: 500px;
    margin-left: 50px;
    margin-right: 100px;
    float: left;
}
h2{
    color: #800020	;
}
p{
    font-size: 18px;
    margin-right:100px;
    text-align: center;
}
/*Contact Page styling*/
.contactText{
    text-align: center;
}
.logo{
    justify-content: left;
    width: 90px;
    height: 120px
    
}
.date{
    text-align: left;
}
.content{
    text-align: right;
}