/*Hero Page styling*/
.header{
    margin-left: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sunset{
    margin-top: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.textafterimg{
    float: right;
    color: #800020	;
}
/*About Me Page styling*/
.AboutPhoto, img{
    width: 500px;
    margin-left: 50px;
    margin-right: 100px;
    float: left;
}
h2{
    color: #800020	;
}
p{
    font-size: 18px;
    margin-right:100px;
}
/*Contact Page styling*/
.contactText{
    margin-left: 300px;
}